@import url('https://themes.googleusercontent.com/fonts/css?kit=eKO97WyTO7HYidizp9G_uA59VW073gJp-eEjw6jegM3L2r0odUe3P77aMV0DhyY_vebuibkKApD8K2VWTBgdc-u7gFSBSIMkuz8XGGcTtAL-SYK_Ln3uQOimoUBe-l5o');

.lst-kix_ncv4655wcf8-6>li:before {
    content: "\0025cf  "
}

.lst-kix_ncv4655wcf8-7>li:before {
    content: "\0025cb  "
}

.lst-kix_ncv4655wcf8-4>li:before {
    content: "\0025cb  "
}

.lst-kix_ncv4655wcf8-8>li:before {
    content: "\0025a0  "
}

.lst-kix_ncv4655wcf8-2>li:before {
    content: "\0025a0  "
}

.lst-kix_ncv4655wcf8-3>li:before {
    content: "\0025cf  "
}

.lst-kix_ncv4655wcf8-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_hn2cllposhfl-3 {
    list-style-type: none
}

ul.lst-kix_hn2cllposhfl-2 {
    list-style-type: none
}

ul.lst-kix_hn2cllposhfl-1 {
    list-style-type: none
}

ul.lst-kix_hn2cllposhfl-0 {
    list-style-type: none
}

ul.lst-kix_hn2cllposhfl-7 {
    list-style-type: none
}

ul.lst-kix_hn2cllposhfl-6 {
    list-style-type: none
}

ul.lst-kix_hn2cllposhfl-5 {
    list-style-type: none
}

ul.lst-kix_hn2cllposhfl-4 {
    list-style-type: none
}

ul.lst-kix_hn2cllposhfl-8 {
    list-style-type: none
}

.lst-kix_ncv4655wcf8-5>li:before {
    content: "\0025a0  "
}

.lst-kix_hn2cllposhfl-0>li:before {
    content: "\0025cf  "
}

.lst-kix_hn2cllposhfl-1>li:before {
    content: "\0025cb  "
}

.lst-kix_hn2cllposhfl-2>li:before {
    content: "\0025a0  "
}

.lst-kix_hn2cllposhfl-5>li:before {
    content: "\0025a0  "
}

.lst-kix_hn2cllposhfl-3>li:before {
    content: "\0025cf  "
}

.lst-kix_hn2cllposhfl-4>li:before {
    content: "\0025cb  "
}

.lst-kix_hn2cllposhfl-6>li:before {
    content: "\0025cf  "
}

.lst-kix_hn2cllposhfl-7>li:before {
    content: "\0025cb  "
}

.lst-kix_hn2cllposhfl-8>li:before {
    content: "\0025a0  "
}

.lst-kix_q2t1nd9zchm8-6>li:before {
    content: "\0025cf  "
}

.lst-kix_q2t1nd9zchm8-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_q2t1nd9zchm8-3 {
    list-style-type: none
}

ul.lst-kix_q2t1nd9zchm8-2 {
    list-style-type: none
}

ul.lst-kix_q2t1nd9zchm8-1 {
    list-style-type: none
}

ul.lst-kix_q2t1nd9zchm8-0 {
    list-style-type: none
}

.lst-kix_q2t1nd9zchm8-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_q2t1nd9zchm8-7 {
    list-style-type: none
}

ul.lst-kix_ncv4655wcf8-8 {
    list-style-type: none
}

ul.lst-kix_q2t1nd9zchm8-6 {
    list-style-type: none
}

ul.lst-kix_q2t1nd9zchm8-5 {
    list-style-type: none
}

.lst-kix_q2t1nd9zchm8-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_q2t1nd9zchm8-4 {
    list-style-type: none
}

.lst-kix_q2t1nd9zchm8-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_q2t1nd9zchm8-8 {
    list-style-type: none
}

ul.lst-kix_ncv4655wcf8-1 {
    list-style-type: none
}

ul.lst-kix_ncv4655wcf8-0 {
    list-style-type: none
}

ul.lst-kix_ncv4655wcf8-3 {
    list-style-type: none
}

ul.lst-kix_ncv4655wcf8-2 {
    list-style-type: none
}

.lst-kix_q2t1nd9zchm8-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_ncv4655wcf8-5 {
    list-style-type: none
}

ul.lst-kix_ncv4655wcf8-4 {
    list-style-type: none
}

.lst-kix_ncv4655wcf8-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_ncv4655wcf8-7 {
    list-style-type: none
}

ul.lst-kix_ncv4655wcf8-6 {
    list-style-type: none
}

.lst-kix_q2t1nd9zchm8-3>li:before {
    content: "\0025cf  "
}

.lst-kix_q2t1nd9zchm8-2>li:before {
    content: "\0025a0  "
}

.lst-kix_q2t1nd9zchm8-1>li:before {
    content: "\0025cb  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c22 {
    margin-left: -0.8pt;
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: right;
    margin-right: -1.5pt
}

.c19 {
    margin-left: -0.8pt;
    padding-top: 16pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c13 {
    margin-left: -0.8pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 9pt
}

.c1 {
    margin-left: -0.8pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: right;
    margin-right: -1.5pt
}

.c3 {
    margin-left: 36pt;
    padding-top: 6pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c21 {
    padding-top: 24pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Source Code Pro";
    font-style: normal
}

.c2 {
    margin-left: -0.8pt;
    padding-top: 14pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c4 {
    margin-left: -0.8pt;
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Source Code Pro";
    font-style: italic
}

.c10 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 24pt;
    font-family: "PT Mono";
    font-style: normal
}

.c16 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Roboto Condensed";
    font-style: normal
}

.c7 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Oswald";
    font-style: normal
}

.c23 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "PT Mono";
    font-style: normal
}

.c9 {
    margin-left: -0.8pt;
    padding-top: 24pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left
}

.c12 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 8pt;
    line-height: 1.2;
    text-align: left
}

.c14 {
    color: #666666;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c17 {
    background-color: #ffffff;
    max-width: 432pt;
    padding: 36pt 90pt 36pt 90pt
}

.c11 {
    font-size: 9pt;
    font-family: "Source Code Pro";
    font-weight: 400
}

.c5 {
    color: inherit;
    text-decoration: inherit
}

.c18 {
    padding: 0;
    margin: 0
}

.c15 {
    height: 9pt
}

.c6 {
    color: #000000
}

.c20 {
    background-color: #ffffff
}

.title {
    padding-top: 16pt;
    color: #424242;
    font-size: 24pt;
    padding-bottom: 0pt;
    font-family: "Oswald";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 6pt;
    color: #999999;
    font-size: 9pt;
    padding-bottom: 0pt;
    font-family: "Roboto Condensed";
    line-height: 1.2;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #666666;
    font-size: 9pt;
    font-family: "Source Code Pro"
}

p {
    margin: 0;
    color: #666666;
    font-size: 9pt;
    font-family: "Source Code Pro"
}

h1 {
    padding-top: 24pt;
    color: #424242;
    font-size: 12pt;
    padding-bottom: 0pt;
    font-family: "Oswald";
    line-height: 1.2;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 14pt;
    color: #e91d63;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Source Code Pro";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #e91d63;
    font-weight: 700;
    font-size: 9pt;
    padding-bottom: 0pt;
    font-family: "Source Code Pro";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 8pt;
    -webkit-text-decoration-skip: none;
    color: #666666;
    text-decoration: underline;
    font-size: 11pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    page-break-after: avoid;
    text-decoration-skip-ink: none;
    font-family: "Trebuchet MS";
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.2;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.2;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}