body {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    color: #393939;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    text-shadow: 2px 1px 2px #000;
}

button {
    border: 3px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px 20px 0px 0px;
}

button:hover {
    background-color: #cccccc;
    transition: .3s;
}

p {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
    margin: 50px;
}

#resultText {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 45px;
    margin: 30px;
}