body {
    background-color: black;
    color: white;
}

img {
    width: 150px;
}

p {

}

h2 {

}


.header {
background-color: white;
color: black;
}

.start {
    display: flex;
    flex-flow: column nowrap;
    background-image: 'battlemon/imgs/BG1.jpg';

}

.arena {

}

.enemy {

}

.pikachu {
 width: 200px;
 height: 350px;
 background-color: yellow;
 border-radius: 20px;
}

.bulbasaur {
    width: 200px;
    height: 350px;
    background-color: green;
    border-radius: 20px;
}

.eevee {
    width: 200px;
    height: 350px;
    background-color: brown;
    border-radius: 20px;
}

.charmander {
    width: 200px;
    height: 350px;
    background-color: orangered;
    border-radius: 20px;
}